# saved files
/trained_models/d4pg/*
/trained_models/*.pt

.vscode/

# Byte-compiled / optimized / DLL files
*__pycache__
*.py[cod]


# Distribution / packaging
eggs/
.eggs/
*.egg-info
*.egg

# Ray timeline
ray_timeline.json

# ray temp folder
ray_tmp/
